<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IDatabaseManager">
                    <security mode="None">
                        <message clientCredentialType="UserName" />
                    </security>
                </binding>
                <binding name="BasicHttpBinding_IAuthentication">
                    <security mode="None">
                        <message clientCredentialType="UserName" />
                    </security>
                </binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:1579/Core.svc/DBM" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IDatabaseManager" contract="ServiceReference1.IDatabaseManager"
                name="BasicHttpBinding_IDatabaseManager" />
            <endpoint address="http://localhost:1579/Core.svc/AUT" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IAuthentication" contract="ServiceReference1.IAuthentication"
                name="BasicHttpBinding_IAuthentication" />
        </client>
    </system.serviceModel>
</configuration>